.video {
  .video__header {
    display: flex;
    justify-content: space-between;
  }

  .video__content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    transition: opacity .25s;

    &:hover {
      opacity: .75;
      transition: opacity .25s;
    }

    img {
      padding: 5% 5% 5% 5%;
      width: 100%;
    }
  }

  .video__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-left: 0.5rem;
    }
  }

  h2 {
    margin: 0 0 0 0;
  }

  a {
      text-decoration: none;
      color: black;
  }

}
