.pagination {
  display: flex;

  &__content {
    display: flex;
  }

  &__element {
    width: 1rem;
    height: 1rem;
    border-radius: 50% 50% 50% 50%;
    background-color: white;
    opacity: .25;
    margin-right: 0.25rem;

    &:hover {
      opacity: 75%;
    }

    &.active {
      opacity: 1;
    }
  }
}