@import '../../../../styles/variables';
@import '../../../../styles/mixins';

header {
  display: flex;
  box-shadow: 0 2px 5px 0 #000;
  background-color: adjust-color($background-color, $saturation: -40%,$lightness: 10%, $alpha: -0.5);
  z-index: 10;

  .header__column {
    width: (1/3)*100%;
    display: flex;
    justify-content: center;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    .nav-button {
      display: none;
      width: 3rem;
    }
  }

  @include portrait {
    .header__column {
      .nav-button {
        display: block;
      }
    }
  }
}