@import 'variables';

$form-background-color: adjust-color($background-color, $saturation: -40%, $lightness: 10%);

form {
  fieldset {
    background-color: $form-background-color;
    border-radius: 3px 3px 3px 3px;
    width: 100%;
    border: none;
    padding: 1rem 2rem 1rem 2rem;

    legend {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  input[type="text"],
  textarea {
    font-size: 1rem;
    border: 0;
    border-radius: 3px 3px 3px 3px;
    color: $text-color;
    padding: 5px 5px 5px 5px;
    background-color: darken($form-background-color, 10%);
  }
}
