.carousel-view {
  display: flex;
  align-items: center;
  justify-content: center;

  &__element {
    width: (1/4) * 100%;

    &.active {
      transition: transform .5s;
    }

    &:not(.active) {
      position: absolute;
      transition: transform .5s;
    }
  }
}