.number {
  display: flex;
  border-radius: 5px;
  background-color: white;

  &__buttons {
    display: flex;
    flex-direction: column;

    button {
      height: calc(0.5rem + 0.4rem);
    }

    :first-child {
      border-radius: 0 5px 0 0;
    }

    :last-child {
      border-radius: 0 0 5px 0;
    }
  }

  &__input {
    border: 0;
    background: none;
    font-size: 1rem;
    padding: 0;
    margin: 0.2rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }
}
