@import '../../../../styles/variables';
@import '../../../../styles/mixins';

content {
    padding-top: 1.5rem;
    height: 100%;
}

@include portrait {
  content {
    height: auto;
    min-height: 100%;
  }
}