.video {
  margin-left: 1%;
  margin-right: 1%;
  width: (1/4) * 100%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;

  &:hover {
    box-shadow: 0 0 10px 0 black;
  }

  .video__header {
    display: flex;
    justify-content: space-between;
  }

  .video__content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    transition: opacity .25s;

    &:hover {
      opacity: .75;
      transition: opacity .25s;
    }

    img {
      padding: 5% 5% 5% 5%;
      width: 100%;
    }
  }

  .video__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-left: 0.5rem;
    }
  }

  h2 {
    margin: 0 0 0 0;
  }

  a {
      text-decoration: none;
      color: black;
  }

  &.active {
    transition: transform .5s;
  }

  &:not(.active) {
    position: absolute;
    transition: transform .5s;
  }
}
