@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?3sm1ge');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?3sm1ge#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?3sm1ge') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?3sm1ge') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?3sm1ge##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-volume_off {
  &:before {
    content: $icon-volume_off; 
  }
}
.icon-volume_up {
  &:before {
    content: $icon-volume_up; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-spinner9 {
  &:before {
    content: $icon-spinner9; 
  }
}
.icon-spinner10 {
  &:before {
    content: $icon-spinner10; 
  }
}
.icon-sad {
  &:before {
    content: $icon-sad; 
  }
}
.icon-sad2 {
  &:before {
    content: $icon-sad2; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}

