$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts" !default;

$icon-volume_off: "\e900";
$icon-volume_up: "\e901";
$icon-pencil: "\e905";
$icon-play: "\e912";
$icon-spinner9: "\e982";
$icon-spinner10: "\e983";
$icon-sad: "\e9e5";
$icon-sad2: "\e9e6";
$icon-plus: "\ea0a";
$icon-cross: "\ea0f";

